html, body{
  margin: 0 auto;
  padding: 0;
  background-image: url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  }

/*estrutura do site*/
.envelope{
  position: relative;
  width: 960px;
  margin: auto;
  box-shadow: 0px 0px 25px 1px #FCC459;
}

/*inicio cabealho*/

#cabecalho{
  background-image:url("../images/BANNER_OFICIAL.png");
  width: 100%;
  height: 500px;

}

/*fim cabecalho*/


/*inicio do estilo do menu*/

/*edita estrutura do menu*/
.nav-menu{
  margin:0px;
  bottom: 0px;
  list-style:none;
  font-family: impact;
  background-color:inherit;
  width: 100%;
  background-color: #000;
  }

/*edita o texto dentro do "li"*/
  ul li a{
    text-decoration: none;
    color:#FFF;
    font-size: 25px;
  }


  /*estiliza quando o cursor passa no link*/
  ul li a:hover{
    color: red;
  }
  ul li a:active{
    color: red;
  }

/*configura o estilo da ul*/
ul{
  list-style: none;
  padding: 1%;
  margin: 0;
  text-align: center;
}

/*configura o estilo da li*/
.menu li {
  display: inline;
  padding: 5%;
}

.ativo {
  color: red;
}

/*inicio so sinop*/

/*configura a estrutura do sinop*/

.sinopse{
  width: 100%
  height: auto;
  background-image: radial-gradient(circle, #FCC459, #F7A035);
}

/*configura o titulo*/
.titulo{
  text-align: center;
  font-family: impact;
  font-size: 25px;
  padding: 96px 10px 0px 10px
}

/*configura o texto*/
.texto_sinopse{
  text-align: justify;
  font-family: arial;
  font-size: 15px;
  width: 70%;
  margin: 0 auto;
  padding: 0px 10px 96px 10px;
}

/*configura o paragrafo*/
.texto_sinopse p{
  line-height: 1.5;
}


/*inicio de video*/

/*configura o corpo do video*/

.corpo_video{
  width: 100%;
  height: auto;
  background-color: #000;
  margin: 0 auto;
  color: #FFF;
}

 .video iframe{
  margin: 0px 200px 96px 200px;
 }

 /*inicio do rodape*/


/*CONFIGURADO A ESTRUTURA*/
 .rodape{
background-image: radial-gradient(circle, #FCC459, #F7A035);
 width: 100%;
 height: 100px;
 margin: 0 auto;

}

.rodape img{
  width: 40%;
  height: 80px;
  margin: 0% 30% 0% 30%;
}


/*comecando o sobre*/

/* configura o corpo do fundo amarelo */
.corpo_amarelo{
  max-width: 100%;
  height: auto;
  background-image: radial-gradient(circle, #FCC459, #F7A035);
  display: flex;
}
.row-wrap{
  flex-flow: row wrap;
}

.icone{
  width: 50%;
  height: auto;
  padding: 10px;
  flex: 1;
  /* background-color: #DDD; */

}
.titulo_amarelo{
 text-align: center;
 font-family: impact;
 font-size: 25px;
 padding: 0px 10px 0px 10px;
}
.imagem{
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0px 90px 90px 90px;
}

.info{
  width: 50%;
  margin: 96px 90px 0px 45px;
  border-left:50%;
  font-family: arial;
  flex: 1;

}
.txtrigth{
  text-align: right;
}

/* fim do fundo amarelo */


/* configura o corpo do fundo preto */

.corpo_black{
  width: 100%
  height: 0 auto;
  background-color: #000;
  display: flex;
  color: #FFF;
}
.icone{
  width: 50%;
  height: auto;
  padding: 10px;


}
.titulo_black{
 text-align: center;
 font-family: impact;
 font-size: 25px;
 padding: 0px 10px 0px 10px;
}


.txtleft{
  text-align: left;
}



/* fim do fundo preto */

/* aqui link das imgs da pagina sobre */
.imghawk{
  background-image: url("../images/Stephen Hawking.png");
}
.imgcbs{
  background-image: url("../images/CBS.jpg");
}

.imglorre{
  background-image: url("../images/Chuck_Lorre.jpg");
}

/* fim */

/* aqui link das imgs sa pagina elenco */

.imgleonard{
  background-image: url("../images/Leonard.png");
}
.imgpenny{
  background-image: url("../images/Penny.png");
}
.imgsheldon{
  background-image: url("../images/Sheldon.png");
}
.imgamy{
  background-image: url("../images/Amy.png");
}
.imghoward{
  background-image: url("../images/howard.png");
}
.imgraj{
  background-image: url("../images/Raj.png");
}
.imgbernadette{
  background-image: url("../images/Bernadette.png");
}



/* fim */

/* aqui link das imgs da pagina temporadas */
.imgt1{
  background-image: url("../images/temporada_01.jpg");
}
.imgt2{
  background-image: url("../images/temporada_02.jpg");
}
.imgt3{
  background-image: url("../images/temporada_03.jpg");
}
.imgt4{
  background-image: url("../images/temporada_04.jpg");
}
.imgt5{
  background-image: url("../images/temporada_05.jpg");
}
.imgt6{
  background-image: url("../images/temporada_06.jpg");
}
.imgt7{
  background-image: url("../images/temporada_07.jpg");
}
.imgt8{
  background-image: url("../images/temporada_08.jpg");
}
.imgt9{
  background-image: url("../images/temporada_09.jpg");
}
.imgt10{
  background-image: url("../images/temporada_10.jpg");
}
.imgt11{
  background-image: url("../images/temporada_11.jpg");
}

/* fim */

/* inicio do estilo temporadas */

.lista1{
  width: 300px;
  height: auto;
  line-height: 30px;


}
.lista2{
  width: 300px;
  height: auto;
  padding: 10px;
  line-height: 30px;
}

/* configurando efeito sanfona */

.accordions-item{
  flex: 1;
  padding-bottom: 10px;

}
.accordions-item input{
	 display:none;
}
.accordions-item label{
    display:block;
    cursor:pointer;
	  padding:5px 3px;
    width: 150px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    color: #FFF;
    font-family: impact;
    background-color: #000;


}
.accordions-item label:hover{
  background-image: url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.accordions-content{
    height: 0px;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    transition: height 0.8s ease-in-out;
    display: flex;
    background-color: #000;
    color: #fff;
    font-family: arial;
    justify-content: center;

 }

[id^=accordions]:checked ~ .accordions-content {
    height: auto;
}
[id^=accordions2]:checked ~ .accordions-content{
    height: auto;
}
[id^=accordions3]:checked ~ .accordions-content{
    height: auto;
}
[id^=accordions4]:checked ~ .accordions-content{
    height: auto;
}
[id^=accordions5]:checked ~ .accordions-content{
    height: auto;
}
[id^=accordions6]:checked ~ .accordions-content{
    height: auto;
}
[id^=accordions7]:checked ~ .accordions-content{
    height: auto;
}
[id^=accordions8]:checked ~ .accordions-content{
    height: auto;
}
[id^=accordions9]:checked ~ .accordions-content{
    height: auto;
}
[id^=accordions10]:checked ~ .accordions-content{
    height: auto;
}
[id^=accordions11]:checked ~ .accordions-content{
    height: auto;
}


@media(max-width:630px) {

  #cabecalho{
    background-image:url("../images/BANNER_OFICIAL_tall.png");
    /* width: 50% */
    height: 208px;
    background-repeat: no-repeat;
    background-size: 100% ;
  }

.envelope{
  position: relative;
  width: 600px;
  margin: auto;
  }

.corpo_amarelo{
  display: flex;
  flex-direction: column;
  }

.corpo_black{
  display: flex;
  flex-direction: column-reverse;
  }

  .txtrigth, .txtleft{
    text-align: center;
  }

.icone{
  padding-left: 75px;
  height: 400px;
  }


.info{
  padding-left: 150px;
  padding-bottom: 70px;
  margin-top: 10px;
}
/* h1{
  font-size: 120%;
} */

}
